In [14]:
import json
import os
import pandas as pd

In [15]:
with open("../../data/prediction_val_sub01/val_predict.json", "r") as f_q:
    answers_val = json.load(f_q)

In [16]:
val_dataset = pd.read_csv("./vqa_val_sub01.tsv", sep="\t", 
                          names = ["question_id", "image-id", "question", "answer", "labels", "image"])
val_dataset.drop(["labels", "image"], inplace = True, axis=1)
val_dataset["answer"] = val_dataset.apply(
    lambda x: x["answer"].split('|!+')[1] , axis=1)

In [17]:
val_dataset

,question_id,image-id,question,answer
0,67255013,67255,How many cars are on the crosswalk,0 0 cars are on the crosswalk
1,134103008,134103,Are these people wearing helmets,No these people are not wearing helmets
2,478240008,478240,Are the men riding a bicycle,No the men are not riding a bicycle
3,174091008,174091,How many servings of pizza,8 8 servings of pizza
4,151084001,151084,Is the man barefoot,No the man is not barefoot
...,...,...,...,...
22325,359039000,359039,What gender are the children,Male are the children
22326,198733001,198733,Is the guy in mid air,Yes the guy is in mid air
22327,178982001,178982,What city is this,New york is this
22328,68838002,68838,How many bolts are holding the sign onto the b...,4 4 bolts are holding the sign onto the building
22329,310663002,310663,What numbers are visible on the train,2002 are visible on the train

In [20]:
answers_df = pd.DataFrame(answers_val)
joined = answers_df.join(val_dataset.set_index("question_id"), on = "question_id",lsuffix="-generated", rsuffix="-gt")
cols = ["question_id", "image-id", "question", "answer-gt","answer-generated"]
joined = joined[cols]

In [21]:
joined

,question_id,image-id,question,answer-gt,answer-generated
0,67255013,67255,How many cars are on the crosswalk,0 0 cars are on the crosswalk,3 3 cars are on the train viewed in the picture
1,134103008,134103,Are these people wearing helmets,No these people are not wearing helmets,0 are they playing
2,478240008,478240,Are the men riding a bicycle,No the men are not riding a bicycle,This the hand of is human
3,174091008,174091,How many servings of pizza,8 8 servings of pizza,2 2 servings are on the table
4,151084001,151084,Is the man barefoot,No the man is not barefoot,This the hand of is human
...,...,...,...,...,...
22325,359039000,359039,What gender are the children,Male are the children,1st is the book
22326,198733001,198733,Is the guy in mid air,Yes the guy is in mid air,Itch the elephant is scratching its head again...
22327,178982001,178982,What city is this,New york is this,seagulls are flying over the ocean with mounta...
22328,68838002,68838,How many bolts are holding the sign onto the b...,4 4 bolts are holding the sign onto the building,4 4 bolts are on the sign
22329,310663002,310663,What numbers are visible on the train,2002 are visible on the train,0 are visible in this picture

In [22]:
joined.to_csv("../../data/prediction_val_sub01/preditctions_gt_q.csv")